/* html,
body {
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
} */

.main-body{
background: #667db6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
height:100vh;
overflow: hidden;
}
.todolist-main-div{
    background-color: white;
    width:500px;
    height:600px;
    border-radius:8px;
}
.todo-task-input-div{
    display:flex;
    align-items:center;
    justify-content:center;
    column-gap:10px;
    padding:10px;
}
#add-btn{
    width:50px;
    height:50px;
    border-radius: 50%;
}
.task-btns{
    display:flex;
    column-gap:10px;
}
.tasks-list{
    width:95%;
    margin:auto;
    list-style:none;
    padding:0px;
    display:flex;
    flex-direction:column;
    row-gap:10px;
}
.task-list li{
    margin:0px;
}
.form-floating{
    margin-bottom:4px;
}

